* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active,
:focus {
  outline: 0;
}

a:active,
a:focus {
  outline: 0;
}

a {
  display: block;
  cursor: pointer;
  color: currentColor;
}

aside,
nav {
  display: block;
}

button,
input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  color: currentColor;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 600;
}

.row {
  --x: 15px;
  --y: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(var(--y) * -1);
  margin-right: calc(var(--x) / -2);
  margin-left: calc(var(--x) / -2);
}

.row>* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--x) / 2);
  padding-left: calc(var(--x) / 2);
  margin-top: var(--y);
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 83.333333%;
}

.col-80 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 80%;
}

.col-20 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 20%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #EDF8FF;
  color: #000;
  font-family: "Inter", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  scroll-behavior: smooth;
  flex-direction: column;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main {
  margin-top: 76px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background: #080A11;
}

section {
  position: relative;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #080A11;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.header__ul {
  margin-left: -80px;
}

.header__ul li:not(:last-child) {
  margin-right: 30px;
}

.header__ul li a {
  font-weight: 450;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  opacity: 0.5;
}

.header__ul li.active a {
  opacity: 1;
}

.header__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background: #3BDF5F;
  border-radius: 6px;
  padding: 11px 20px;
  color: #FFFFFF;
}

.header__lang {
  border: 1px solid #CECECE;
  border-radius: 6px;
  margin-left: 17px;
}

.header__lang span {
  font-weight: 450;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0 8px;
}

.first__input {
  background: #FFFFFF;
  border: 0.844142px solid #CECECE;
  border-radius: 1111px;
  padding: 10px 14px;
  height: 40px;
  width: 300px;
}

.first__input input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 17.6636px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.first__input input::-moz-placeholder {
  font-weight: 400;
  font-size: 17.6636px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.first__input input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 17.6636px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.first__input input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 17.6636px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.first__input input,
.first__input input::placeholder {
  font-weight: 400;
  font-size: 17.6636px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.first__h1 {
  font-weight: 500;
  font-size: 54px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  max-width: 605px;
  margin-top: 7px;
}

.first__h1 span {
  position: relative;
}

.first__h1 img {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 100%;
}

.first__h1 span.first__span {
  color: #4075FF;
}

.first__h2 {
  font-weight: 450;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  opacity: 0.5;
  margin: 15px auto 23px auto;
  max-width: 605px;
}

.first__section {
  padding: 80px 0;
  overflow: hidden;
}

.dots {
  margin-right: 16px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  background: #FFFFFF;
  border: 1.08268px solid #CECECE;
  border-radius: 21.6535px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.item:not(:last-child) {
  margin-bottom: 12px;
}

.item__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item__block {
  border-right: 1px solid #E8E8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
}

.item__block:nth-child(2) {
  width: 165px;
}

.item__left .item__block:first-child {
  padding: 0 15px 0 0;
}

.item__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item__downloads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item__os img {
  width: 104px;
}

.soft__image {
  width: 60px;
  height: 60px;
  margin-right: 13px;
}

.item__download-button {
  background: #4075FF;
  -webkit-box-shadow: 4.33071px 8.66142px 29.2323px rgba(64, 117, 255, 0.47);
  box-shadow: 4.33071px 8.66142px 29.2323px rgba(64, 117, 255, 0.47);
  border-radius: 5.41339px;
  padding: 12px;
  font-weight: 500;
  font-size: 17.3228px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #FFFFFF;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.item__download-button:hover {
  opacity: 0.7;
}

.item__download-button span {
  margin-left: 20px;
  max-width: 60px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.item__download input {
  background-color: transparent;
  margin-left: 15px;
  width: 63px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #fff;
  font-weight: 500;
  font-size: 17.3228px;
  line-height: 20px;
  cursor: pointer;
  text-align: right;
}

.item__tag {
  font-weight: 450;
  font-size: 16.2402px;
  line-height: 130%;
  color: #4075FF;
  max-width: 245px;
  width: 245px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item__name {
  font-weight: 450;
  font-size: 20px;
  line-height: 116%;
  color: #fff;
  margin-top: 2px;
  max-width: 245px;
  width: 245px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item__downloads {
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 6px;
}

.item__downloads-count {
  font-weight: 450;
  font-size: 12.3299px;
  line-height: 130%;
  color: #fff;
  width: 115px;
  max-width: 115px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item__downloads-count span {
  margin-left: 6px;
}

.item__password {
  font-weight: 450;
  font-size: 16.2402px;
  line-height: 130%;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 7px;
}

.item__pass {
  font-weight: 450;
  font-size: 19.4882px;
  line-height: 130%;
  color: #fff;
}

.item__lock {
  margin-left: 10px;
}

#page-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 36px;
}

#page-buttons button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-weight: 450;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #3BDF5F;
  color:#fff;
}

#page-buttons button:not(:last-child) {
  margin-right: 16px;
}

#page-buttons button.active {
  color: #fff;
  background: #3BDF5F;
  border: 1px solid #3BDF5F;
}

.second__section {
  padding: 0 0 40px 0;
}

.third__main {
  background: #EAEEF9;
  border-radius: 42px;
  padding: 48px;
}

.third__main h1 {
  font-weight: 500;
  font-size: 42px;
  line-height: 120%;
  color: #fff;
  text-align: center;
}

.third__wrapper {
  margin-top: 36px;
}

.third__main h1 span.blue__span {
  color: #4075FF;
}

.third__block {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 24px;
  height: 100%;
}

.container__b {
  width: 1200px;
}

.third__back {
  background: #EAEEF9;
  border-radius: 16px;
  width: 82px;
  min-width: 82px;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
}

.third__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.third__col span:first-child {
  font-weight: 450;
  font-size: 28px;
  line-height: 32px;
  color: #fff;
}

.third__col span:last-child {
  font-weight: 450;
  font-size: 16px;
  line-height: 132%;
  color: #fff;
  opacity: 0.5;
  margin-top: 8px;
}

.accordion__header {
  padding: 20px 32px;
  cursor: pointer;
  border: 1px solid #CECECE;
  border-radius: 12px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.accordion__icon,
.accordion__icon span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
}

.accordion__icon span:first-child {
  display: none;
}

.accordion__item._open .accordion__icon span:last-child {
  display: none;
}

.accordion__item._open .accordion__icon span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion__title {
  font-weight: 450;
  font-size: 22px;
  line-height: 130%;
  color: #fff;
}

.accordion__item._open .accordion__header {
  background: rgba(64, 117, 255, 0.12);
  border: 1px solid rgba(64, 117, 255, 0);
}

.accordion__description {
  padding: 16px 32px 16px 32px;
  font-weight: 450;
  font-size: 22px;
  line-height: 130%;
  color: #fff;
  opacity: 0.5;
}

.accordion__icon {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.accordion__item {
  border-radius: 15px;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.accordion__item:not(:first-child) {
  margin-top: 16px;
}

.accordion__content {
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.faq__block {
  background: #FFFFFF;
  border-radius: 42px;
  padding: 36px;
  margin-top: 60px;
}

.faq__wrapper {
  margin-top: 28px;
}

.footer__col {
  margin-right: 30px;
}

.footer__name {
  font-weight: 450;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  opacity: 0.4;
}

.footer__col ul li {
  margin-top: 20px;
  font-weight: 450;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  opacity: 0.6;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__col ul li:hover {
  opacity: 0.4;
}

footer {
  background: #0F1218;
  padding: 60px 0;
  border-radius: 17px 20px 0 0;
}

.mt10 {
  margin-top: 20px;
}

.mt20 {
  margin-top: -15px;
}

.footer__left {
  width: 95%;
}

.footer__t {
  width: 100%;
}

.footer__copy {
  background: #D8E2FF;
  height: 45px;
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 !important;
}

.widget {
  position: sticky;
  top: 100px;
}

.blur1 {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.blur2 {
  position: absolute;
  top: 0;
  right: 0;
}

.rel {
  position: relative;
}

.i1 {
  position: absolute;
  left: -100px;
}

.i2 {
  position: absolute;
  right: -250px;
}

.dash {
  position: absolute;
  left: 0;
  top: -70px;
  display: none;
}

.footer__left-text {
  font-weight: 450;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  opacity: 0.5;
}

.cookie {
  width: 100%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: none;
  display: none;
  position: fixed;
  bottom: 0;
}

.cookie__body {
  background: #FFFFFF;
  border-top: 1.08268px solid #CECECE;
  border-bottom: 1.08268px solid #CECECE;
  padding: 10px;
  pointer-events: all;
  width: 100%;
}

.cookie__container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.cookie__header {
  font-weight: 450;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.cookie__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}

.cookie__text a {
  color: #0075FF;
  text-decoration: underline;
  display: inline-block;
  word-wrap: break-word;
}

.cookie__button {
  background: #FF9040;
  -webkit-box-shadow: 3.69053px 7.38107px 24.9111px rgba(255, 144, 64, 0.47);
  box-shadow: 3.69053px 7.38107px 24.9111px rgba(255, 144, 64, 0.47);
  border-radius: 4.61317px;
  font-weight: 500;
  font-size: 14.7621px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 10px 13px;
  white-space: nowrap;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copy span.footer__span {
  color: #000;
}

.dropdown {
  position: relative;
}

.header__drop-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px 10px;
  cursor: pointer;
}

.dropdown.right .dropdown__menu {
  right: 0;
}

.dropdown.left .dropdown__menu {
  left: 0;
}

.dropdown.active>.dropdown__menu {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown__button>* {
  pointer-events: none;
}

.header__lang .dropdown__menu {
  position: absolute;
  top: 32px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 0;
  border: 1px solid #CECECE;
}

.header__lang .dropdown__menu button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 10px;
  width: 100%;
}

.header__lang .dropdown__menu button img {
  width: 25px;
}

.header__drop-button img {
  width: 25px;
}

.lang-button img,
.lang-button span {
  pointer-events: none;
}

.alert.fixed {
  bottom: 1rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 1rem;
}

.alert {
  background-color: #fff;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  width: 310px;
  z-index: 2;
}

.alert-wrap {
  padding: 24px 26px;
  position: relative;
}

.close-btn,
.notification-close {
  background-color: #fff;
  cursor: pointer;
  height: 24px;
  opacity: 0.2;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  width: 24px;
}

.close-btn:before,
.notification-close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn:after,
.close-btn:before,
.notification-close:after,
.notification-close:before {
  background-color: #333;
  content: "";
  display: inline-block;
  height: 14px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 2px;
}

.close-btn:after,
.notification-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-btn:after,
.close-btn:before,
.notification-close:after,
.notification-close:before {
  background-color: #333;
  content: "";
  display: inline-block;
  height: 14px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 2px;
}

.alert-wrap .text-area,
.ext-popup .text-area {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.alert-wrap .text-area .title {
  font-size: 24px;
  margin-bottom: 20px;
}

.alert-wrap .text-area .title,
.ext-popup .text-area .title {
  letter-spacing: -0.005em;
  line-height: 1.2;
  position: relative;
}

.alert-wrap .text-area .tag-version {
  bottom: 5px;
  font-size: 11px;
  left: 120px;
  padding: 4px 6px;
}

.alert-wrap .text-area .tag-version,
.ext-popup .text-area .tag-version {
  background-color: #2b373a;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  position: absolute;
}

.alert-wrap .ext-feature-list {
  margin-bottom: 4px;
}

.alert-wrap .feature-list-item,
.ext-popup .feature-list-item {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 12px;
}

.alert-wrap .cta-landing,
.alert-wrap .cta-landing_transparent {
  width: 100%;
}

.cta-landing,
.cta-landing_transparent {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00d7b3;
  border-radius: 24px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 50px;
  line-height: 1;
  margin-right: auto;
  padding: 0 30px 0 30px;
  text-transform: capitalize;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.cta-landing span,
.cta-landing_transparent span {
  display: block;
  white-space: nowrap;
}

.cta-landing .text-small,
.cta-landing_transparent .text-small {
  font-size: 12px;
  font-weight: 400;
  margin-left: 8px;
}

.alert-wrap .cta-landing_transparent {
  margin: 12px auto 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.alert-wrap .cta-landing,
.alert-wrap .cta-landing_transparent {
  width: 100%;
}

.chrome {
  width: 50px;
}

.cta-landing_transparent {
  --color-dark: #1cbdf9;
  background-color: transparent;
  border: 2px solid #1cbdf9;
  color: #1cbdf9;
  height: 42px;
  margin-left: 22px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu__icon {
  z-index: 5;
  display: none;
}

.menu__body {
  position: fixed;
  top: 0;
  left: -200px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7215686275);
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: auto;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  width: 200px;
  z-index: 3;
}

.menu__body._active {
  left: 0;
}

.header__logo svg {
  pointer-events: none;
}

.menu__list>li {
  margin: 0px 0px 20px 0;
}

.menu__list>li:last-child {
  margin-bottom: 0px;
}

.menu__body .menu__link {
  font-size: 22px;
  white-space: nowrap;
}

.menu__link:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.menu__icon svg {
  cursor: pointer;
  height: 50px;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  width: 65px;
}

.menu__icon path.top,
.menu__icon path.bottom {
  stroke-dasharray: 240px, 950px;
}

.menu__icon path.middle {
  stroke-dasharray: 240px, 240px;
}

.menu__icon path {
  fill: none;
  stroke: #000;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 18;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
  -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}

.menu__icon._active path.top,
.menu__icon._active path.bottom {
  stroke-dashoffset: -650px;
}

.menu__icon path.top,
.menu__icon path.bottom {
  stroke-dasharray: 240px, 950px;
}

.menu__icon._active path.middle {
  stroke-dasharray: 1px, 220px;
  stroke-dashoffset: -115px;
}

._active__footer {
  padding-left: 250px;
}

._active__footer>.footer__menu li {
  font-size: 15px;
}

.menu__body li a {
  font-size: 18px;
  line-height: 30px;
}

.menu__body li:not(:first-child) {
  margin-top: 10px;
}

.lang-button.active {
  background-color: rgba(0, 0, 0, 0.1803921569);
}

.page__h1 {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: #fff;
  margin-top: 50px;
}

.page__wrapper {
  border-radius: 21.6535px;
  margin-top: 20px;
  background: radial-gradient(100% 100% at 51.1% 0%, rgba(107, 183, 32, 0.1) 0%, rgba(86, 86, 86, 0.1) 0.01%, rgba(70, 75, 86, 0.1) 94.79%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  border: 1.01414px solid rgba(74, 77, 82, 0.15);
  border-radius: 10.1414px;
  padding: 10px;
}

.page__how-text {
  font-weight: 450;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  opacity: 0.7;
}

.page__cookie-desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
}

.page__cookie-name {
  margin-bottom: 15px;
}

.page__cookie-text {
  opacity: 0.5;
}

.page__cookie-desc .page__cookie-name:not(:first-child) {
  margin-top: 15px;
}

.page__cookie-twice {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__cookie-twice span:first-child {
  margin-bottom: 15px;
}

.page__contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page__contact-text span:first-child {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  opacity: 0.7;
}

.page__contact-text span:last-child {
  font-weight: 450;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  opacity: 0.5;
}

.page__form input {
  background: #1B3A26;
  border-radius: 5px;
  width: 100%;
  padding: 8px 14px;
  font-weight: 400;
  font-size: 17.6636px;
  line-height: 140%;
  color: #fff;
}

.page__form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.page__form input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.page__form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.page__form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.page__form input::placeholder {
  color: #fff;
  opacity: 0.7;
}

.page__form textarea {
  background: #1B3A26;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 8px 14px;
  resize: none;
  height: 250px;
  font-weight: 400;
  font-size: 17.6636px;
  line-height: 140%;
}

.page__form textarea::-webkit-scrollbar {
  display: none;
}

.page__form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.page__form textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.page__form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.page__form textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.page__form textarea::placeholder {
  color: #fff;
  opacity: 0.7;
}

.page__form-row {
  margin-top: 15px;
}

.page__form-button {
  font-weight: 500;
  font-size: 17.3228px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 12px 33px;
  background: #3BDF5F;
  border-radius: 5.41339px;
  margin-top: 26px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.page__form-button:hover {
  opacity: 0.7;
}

.page__form-button:disabled {
  background: grey;
}

.mob__menu {
  display: none;
}

.mob__menu ul li {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.mob__menu ul li:hover {
  opacity: 0.7;
}

.page_h1 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: block;
  color: #000;
}

.bold__span {
  color: #000;
  font-weight: 600;
}

.pagea a {
  display: inline-block;
  word-wrap: break-word;
  color: #4075FF;
  text-decoration: underline;
}

.page__dmca-text {
  font-weight: 450;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  opacity: 0.5;
}

.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #F6FBFF;
  border: 0.844142px solid #CECECE;
  border-radius: 5px;
}

.check input:checked~.checkmark {
  background-color: #989898;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked~.checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
}

.page__check {
  margin-top: 20px;
}

.header__logo {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__ul li a {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.header__ul li a:hover {
  opacity: 1;
}

.header__button {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.header__button:hover {
  opacity: 0.7;
}

.noty__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #676767;
  padding-left: 35px;
  margin-top: 5px;
}

.noty {
  width: 320px;
  position: fixed;
  overflow: hidden;
  padding: 10px;
  right: 15px;
  top: 95px;
  background: #E7F4E7;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.noty::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: #1BB522;
}

#notyClose {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.noty.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.noty__img {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

.noty__header-left {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.noty__header-left svg {
  width: 26px;
  margin-right: 10px;
}

.noty__header-right svg {
  width: 26px;
}

.noty__header-right {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.noty__header-right:hover {
  opacity: 0.7;
}

.mob__li {
  display: none;
}

.mob__body {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: rgba(59, 223, 95, 0.7294117647);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding: 15px 0;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.mob__body.active {
  bottom: 60px;
}

.mob__body li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  font-size: 17px;
  line-height: 19px;
  padding: 0 15px;
  font-weight: 500;
  color: #fff;
}

.mob__body li a svg {
  width: 22px;
  margin-right: 10px;
}

.mob__body li a svg path {
  fill: #fff;
}

.footer__menu li:not(:last-child) {
  margin-right: 40px;
}

.footer__menu li {
  font-weight: 450;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
}

.footer__menu {
  margin-top: 50px;
}

.new__h1 {
  font-weight: 500;
  font-size: 54.6899px;
  line-height: 115%;
  text-align: center;
  letter-spacing: -0.025em;
  color: #fff;
  max-width: 690px;
}

.new__h2 {
  font-weight: 400;
  font-size: 21.0346px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #fff;
  opacity: 0.7;
  max-width: 660px;
  margin-top: 20px;
}

.new__button {
  font-weight: 450;
  font-size: 21.0346px;
  line-height: 125%;
  text-align: right;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-top: 33px;
  background: #3BDF5F;
  border-radius: 6px;
  padding: 11px 20px;
}

.want__section {
  padding: 30px 0;
}

.want__block {
  position: relative;
  background: -o-radial-gradient(51.1% 0%, 100% 100%, rgba(208, 204, 255, 0.1) 0%, rgba(150, 255, 198, 0.1) 0.01%, rgba(108, 255, 175, 0.1) 94.79%);
  background: radial-gradient(100% 100% at 51.1% 0%, rgba(208, 204, 255, 0.1) 0%, rgba(150, 255, 198, 0.1) 0.01%, rgba(108, 255, 175, 0.1) 94.79%);
  border-radius: 20.2829px;
  padding: 35px 42px;
  overflow: hidden;
}

.want__left {
  max-width: 449px;
}

.want__h1 {
  font-weight: 450;
  font-size: 38.5374px;
  line-height: 110%;
  letter-spacing: -0.025em;
  color: #fff;
}

.want__h1 span {
  position: relative;
}

.want__h1 span img {
  position: absolute;
  left: 0;
  top: 43px;
}

.want__h2 {
  font-weight: 400;
  font-size: 18.9311px;
  line-height: 130%;
  margin-top: 20px;
  letter-spacing: -0.03em;
  opacity: 0.7;
  color: #fff;
}

.want__block img {
  position: absolute;
  right: 0;
  top: 0;
}

.cat__block {
  border-radius: 20px;
  padding: 22px;
  width: 100%;
  height: 100%;
  background: radial-gradient(100% 100% at 51.1% 0%, rgba(107, 183, 32, 0.1) 0%, rgba(86, 86, 86, 0.1) 0.01%, rgba(70, 75, 86, 0.1) 94.79%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  border: 1.01414px solid rgba(74, 77, 82, 0.15);
  border-radius: 10.1414px;
}

.cat__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.cat__left {
  width: 100%;
  margin-right: 8px;
}

.cat__name {
  font-weight: 450;
  font-size: 20px;
  line-height: 116%;
  color: #fff;
  margin-bottom: 2px;
}

.cat__grid {
  font-weight: 450;
  font-size: 15px;
  line-height: 130%;
  color: #3BDF5F;
}

.cat__image {
  width: 54px;
}

.cat__image img {
  width: 100%;
}

.cat__body-text {
  font-weight: 450;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
  opacity: 0.5;
  margin: 16px 0;
}

.cat__body-pass {
  background: #1B3A26;
  border-radius: 6px;
  padding: 7px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pass__text {
  font-weight: 450;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  opacity: 0.5;
}

.pass__password {
  font-weight: 450;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  margin-top: 7px;
}

.pass__left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cat__body-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 16px auto;
  font-weight: 450;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  opacity: 0.5;
}

.cat__body-count img {
  margin-right: 3px;
}

.cat__body-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background: #3BDF5F;
  border-radius: 6px;
  padding: 11px 20px;
}

.cat__body-link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.why__section {
  padding: 50px 0;
}

.why__h1 {
  font-weight: 500;
  font-size: 39.1523px;
  line-height: 110%;
  letter-spacing: -0.025em;
  color: #fff;
  border-bottom: 1px solid #11151F;
  padding-bottom: 20px;
}

.why__flex {
  margin-top: 30px;
}

.new__img {
  pointer-events: none;
  z-index: 0;
}

.why__wrapper .why__flex:first-child .why__block:not(:first-child) {
  margin-left: 26px;
}

.why__wrapper .why__flex:nth-child(2) .why__block:not(:first-child) {
  margin-left: 26px;
}

.why__wrapper .why__flex:nth-child(2) {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.why__block {
  background: -o-radial-gradient(51.1% 0%, 100% 100%, rgba(208, 204, 255, 0.1) 0%, rgba(150, 255, 198, 0.1) 0.01%, rgba(108, 255, 175, 0.1) 94.79%);
  background: radial-gradient(100% 100% at 51.1% 0%, rgba(208, 204, 255, 0.1) 0%, rgba(150, 255, 198, 0.1) 0.01%, rgba(108, 255, 175, 0.1) 94.79%);
  border-radius: 20.2829px;
  padding: 19px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__left {
  margin-right: 20px;
}

.why__name {
  font-weight: 450;
  font-size: 20.5084px;
  line-height: 125%;
  letter-spacing: -0.015em;
  color: #fff;
}

.why__desc {
  font-weight: 400;
  font-size: 16.7796px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #fff;
  opacity: 0.5;
  margin-top: 7px;
  max-width: 350px;
}

.catalog__section {
  padding: 40px 0;
}

.catalog__h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  font-weight: 500;
  font-size: 42.594px;
  line-height: 110%;
  letter-spacing: -0.025em;
  color: #fff;
  margin: 0 auto 60px auto;
}

.catalog__h1::after {
  position: absolute;
  width: 120%;
  height: 3px;
  background-color: #3BDF5F;
  content: "";
  left: 50%;
  bottom: -25px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 1400px) {
  .col-80 {
    width: 100%;
  }

  .header__ul li a {
    font-size: 13px;
  }

  .header__ul li:not(:last-child) {
    margin-right: 20px;
  }

  .header__button {
    font-size: 15px;
    padding: 8px 12px;
  }

  .page__dmca-text {
    font-size: 16px;
  }

  .col-20,
  .blur1,
  .blur2,
  .dash,
  .i2,
  .i1,
  .footer__right {
    display: none;
  }

  .container,
  .container__b {
    width: 950px;
  }

  .third__col span:last-child {
    font-size: 15px;
  }

  .header__ul {
    margin-left: 0;
  }

  .accordion__description {
    font-size: 16px;
    line-height: 18px;
    padding: 16px;
  }

  .footer__left {
    width: 100%;
  }

  footer {
    padding: 25px 0;
  }

  .first__section {
    padding: 40px 0;
  }

  #page-buttons button:not(:last-child) {
    margin-right: 10px;
  }

  #page-buttons button {
    width: 35px;
    min-width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 18px;
  }

  .page__wrapper {
    padding: 20px;
  }

  .page__how-text {
    font-size: 16px;
  }

  .catalog__section .row .col-3 {
    width: 33.333%;
  }

  .new__h1 {
    font-size: 40px;
  }

  .new__h2 {
    font-size: 18px;
  }
}

@media (max-width: 1050px) {
  .container {
    width: 600px;
  }

  .footer__menu {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .noty {
    width: 260px;
  }

  .noty__header-left {
    font-size: 16px;
  }

  .noty__header-left svg {
    width: 18px;
    margin-right: 5px;
  }

  .noty__text {
    padding-left: 22px;
    font-size: 14px;
  }

  .page__h1 {
    font-size: 30px;
    line-height: 34px;
    margin-top: 20px;
  }

  .header__ul {
    display: none;
  }

  .menu__icon {
    display: block;
  }

  .third__main {
    padding: 20px;
  }

  .third__main h1 {
    font-size: 24px;
    line-height: 28px;
  }

  .third__wrapper,
  .faq__wrapper {
    margin-top: 20px;
  }

  .third__wrapper .row .col-6 {
    width: 100%;
  }

  .accordion__title {
    font-size: 16px;
  }

  .faq__block {
    margin-top: 20px;
    padding: 20px;
  }

  .third__col span:first-child {
    font-size: 22px;
  }

  .third__col span:last-child {
    font-size: 14px;
    margin-top: 4px;
  }

  .item__left .item__block:nth-child(2) {
    display: none;
  }

  .item__block {
    padding: 0 10px;
  }

  .item__left .item__block:first-child {
    padding: 0 10px 0 0;
  }

  .item__name,
  .item__tag {
    font-size: 14px;
    width: 150px;
    max-width: 150px;
  }

  .item__lock,
  .first__software {
    display: none;
  }

  .item__download-button,
  .item__download-button input {
    font-size: 14px;
  }

  .item__password {
    font-size: 14px;
  }

  .item__pass {
    font-size: 16px;
  }

  .first__h1 {
    font-size: 30px;
    max-width: 100%;
  }

  .first__h1 img {
    display: none;
  }

  .first__h2 {
    max-width: 100%;
    font-size: 14px;
  }

  #page-buttons {
    margin-top: 20px;
  }

  .soft__image {
    width: 45px;
    height: 45px;
  }

  .first__section {
    padding: 20px 0;
  }

  .accordion__header {
    padding: 12px;
  }

  .accordion__description {
    padding: 12px;
  }

  .faq__block {
    border-radius: 20px;
  }

  .page__cookie-desc {
    font-size: 16px;
  }

  .page__cookie-name {
    margin-bottom: 10px;
  }

  .page__contact-text span:first-child {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .page__contact-text span:last-child {
    font-size: 15px;
  }

  .page__form-button {
    margin-top: 16px;
  }

  .mob__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 60px;
    background-color: #3BDF5F;
  }

  .mob__menu ul {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }

  .mob__menu li a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
  }

  .mob__menu li a svg {
    width: 20px;
    height: 22px;
    pointer-events: none;
  }

  .mob__menu li a span {
    pointer-events: none;
  }

  .mob__menu li a svg path {
    fill: #fff;
  }

  .footer__copy {
    height: auto;
    min-height: auto;
    padding: 15px 0 75px 0 !important;
  }

  .footer__left {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer__col {
    margin: 0 60px 20px 0;
  }

  footer {
    padding: 25px 0 60px 0;
  }

  .why__left {
    margin-right: 10px;
  }

  .why__block {
    padding: 12px;
  }

  .why__wrapper .why__flex:first-child .why__block:not(:first-child),
  .why__wrapper .why__flex:nth-child(2) .why__block:not(:first-child),
  .why__flex {
    margin-left: 0;
    margin-top: 20px;
  }

  .why__desc {
    font-size: 15px;
  }

  .why__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .why__h1 {
    font-size: 30px;
    text-align: center;
    border-bottom: none;
  }

  .footer__link .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer__left-new {
    margin-bottom: 20px;
  }

  .catalog__section .row .col-3 {
    width: 50%;
  }

  .catalog__h1 {
    font-size: 30px;
  }

  .why__section {
    padding: 30px 0;
  }
}

@media (max-width: 640px) {
  .footer__menu {
    margin: 0 0 15px 0;
  }

  .cookie__container {
    width: 100%;
  }

  .cookie__text {
    font-size: 14px;
    line-height: 16px;
  }

  .footer__menu li:not(:last-child) {
    margin-right: 10px;
  }

  .footer__menu li {
    font-size: 12px;
  }

  .mob__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .mob__menu li:nth-child(3),
  .mob__menu li:nth-child(4),
  .mob__menu li:nth-child(5) {
    display: none;
  }

  .container,
  .container__b {
    width: 100%;
    padding: 0 20px;
  }

  .page__dmca-text {
    font-size: 14px;
    line-height: 16px;
  }

  .page__form textarea,
  .page__form input {
    font-size: 15px;
  }

  .check {
    font-size: 15px;
  }

  .page__cookie-desc {
    font-size: 14px;
  }

  .accordion__icon {
    display: none;
  }

  .accordion__description {
    font-size: 12px;
    line-height: 16px;
  }

  .accordion__title {
    font-size: 14px;
    line-height: 16px;
  }

  .item__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .item__block {
    padding: 0 !important;
    border-right: 0;
  }

  .item__block,
  .item__left,
  .item__col {
    width: 100%;
    overflow: hidden;
  }

  .item__tag {
    white-space: nowrap;
    font-size: 14px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  .item__block:not(:first-child) {
    margin-top: 10px;
  }

  .footer__left {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .page__form-row .col-6 {
    width: 100%;
  }

  .page__form textarea {
    height: 150px;
  }

  .footer__col {
    margin: 0 60px 20px 0;
  }

  footer {
    padding: 25px 0 60px 0;
  }

  .third__back {
    display: none;
  }

  .third__block {
    padding: 16px;
  }

  .footer__copy {
    font-size: 15px;
  }

  .item__name,
  .item__tag {
    width: 100%;
    max-width: 100%;
  }

  .page__how-text {
    font-size: 14px;
    line-height: 16px;
  }

  .page__wrapper {
    padding: 15px;
  }

  .page__h1 {
    font-size: 22px;
    line-height: 26px;
  }

  .cat__name {
    font-size: 18px;
  }

  .cat__grid {
    font-size: 14px;
  }

  .footer__right-new {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .want__block {
    padding: 15px;
  }

  .want__block img {
    display: none;
  }

  .want__left {
    max-width: 100%;
    text-align: center;
  }

  .want__h1 {
    font-size: 24px;
  }

  .want__h2 {
    font-size: 17px;
    margin-top: 10px;
  }

  .new__h1,
  .catalog__h1 {
    font-size: 24px;
  }

  .new__h2 {
    font-size: 16px;
    margin-top: 10px;
  }

  .want__section {
    padding: 0;
  }
}

@media (max-width: 550px) {
  .header__button {
    display: none;
  }

  .header__left {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .dropdown.left .dropdown__menu {
    left: initial;
    right: 0;
  }

  .catalog__section .row .col-3 {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .item__download {
    margin-top: 10px;
  }

  .mob__menu li a {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .header__logo {
    width: 135px;
  }

  .header__logo svg {
    width: 100%;
  }
}

@media (max-width: 375.97px) {
  .first__input {
    width: 100%;
  }

  .mob__menu li a {
    font-size: 13px;
  }
}

.view-button {
  font-weight: 450;
  font-size: 21.0346px;
  line-height: 125%;
  text-align: right;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-top: 33px;
  background: #3BDF5F;
  border-radius: 6px;
  padding: 11px 20px;
}